<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Bla bla Gaya Kessler" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <title>Gaya Kessler - CleverNode</title>

    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <section class="main-container">
      <header>
        <aside class="aside">
          <img class="avatar" src="/assets/images/gayakessler.webp" alt="Gaya Kessler" />

          <section class="contact">
            <address>
              <strong>Gaya Kessler - CleverNode</strong><br />
              Deurne, Noord-Brabant<br />
              The Netherlands<br />
              <a href="mailto:gaya@theclevernode.com">gaya@theclevernode.com</a>
            </address>
          </section>

          <menu class="language">
            <li class="active">
              English
            </li>
            <li>
              <a href="/nl.html">Nederlands</a>
            </li>
          </menu>
          
          <nav class="links">
            <a href="https://www.linkedin.com/in/gaya-kessler/">LinkedIn</a>
            <a href="https://github.com/Gaya">GitHub</a>
          </nav>
        </aside>
        <section class="headers">
          <h1 class="header">Gaya Kessler</h1>
          <h2 class="subheader">CleverNode</h2>
          <section class="intro">
            Freelance <strong><em>health care professional</em></strong> and <strong><em>software developer</em></strong> based in Deurne, the Netherlands near Eindhoven. With more than <em>20 years of experience</em>.
          </section>
        </section>
      </header>
      <nav class="page-nav">
        <span>Jump to:</span>
        <a href="/#what-i-do">What I do</a>
      </nav>
      <main class="page-content">
        <section class="subject">
          <h3 id="what-i-do">What I do</h3>
          <p>
            I’m a <strong>software developer and consultant</strong>, specializing in modern <em>JavaScript, React, Node.js, and TypeScript</em>. I help companies build reliable, scalable applications while also mentoring their teams.
          </p>

          <p>
            A big part of my work is not just writing code, but making sure the people I work with feel <em>confident, supported, and able to grow</em>. I love simplifying complex technical concepts and turning them into something approachable and useful.
          </p>

          <p>
            Alongside my development work, I also an <strong>independent health care professional</strong> <em>coaching and supporting</em> young people with <strong>autism and ADHD</strong>. I teach subjects like computer science, game development, and robotics, but more importantly, I create a safe space for <em>curiosity, creativity, and self-confidence</em>. For me, it’s not just about skills, it’s about helping these young people feel seen, capable, and empowered to explore their passions.
          </p>
        </section>
        <section class="subject">
          <h3>About me</h3>
          <p>
            My love for technology began early. As a kid, I was always creating, drawing, making music, and experimenting with making games. In high school, I got my first taste of computer science and realized: this could actually become my career.
          </p>

          <p>
            From my parents’ attic, with a painfully slow internet connection, I taught myself how to build websites and backend systems. That curiosity eventually led me to pursue a bachelor’s degree in Computer Science while working part-time at a local web development company.
          </p>

          <p>
            Since then, I’ve worked at different companies and projects, learning a lot about technology and about myself. Along the way, I started blogging to process and share what I was learning. While I don’t write as often these days, I still enjoy sharing ideas, sometimes on my blog, sometimes over at <a href="https://sauce.gaya.pizza">sauce.gaya.pizza</a>
          </p>
        </section>

        <section class="subject">
          <h3>Introduction</h3>
          <p>
            Gaya Kessler is a freelance web developer based in Deurne—a small town in the south of the Netherlands, near Eindhoven—who’s been professionally coding since 2006. (That’s about half his life! )
          </p>

          <p>
            From a young age, Gaya loved creating with technology—whether building video games, drawing, composing music, or exploring programming. During high school, a glimpse into computer science convinced him: this could actually become a career he’d get paid for.
          </p>

          <p>
            Coding began in humble circumstances: from his parents’ attic, with a painfully slow internet connection, he taught himself how to build websites and backend systems from scratch. His passion led him to study for a bachelor’s degree in Computer Science while working part-time at a local web development company—a formative experience he still values deeply.
          </p>
        </section>

        <section class="subject">
          <h3>Introduction</h3>
          <p>
            Gaya Kessler is a freelance web developer based in Deurne—a small town in the south of the Netherlands, near Eindhoven—who’s been professionally coding since 2006. (That’s about half his life! )
          </p>

          <p>
            From a young age, Gaya loved creating with technology—whether building video games, drawing, composing music, or exploring programming. During high school, a glimpse into computer science convinced him: this could actually become a career he’d get paid for.
          </p>

          <p>
            Coding began in humble circumstances: from his parents’ attic, with a painfully slow internet connection, he taught himself how to build websites and backend systems from scratch. His passion led him to study for a bachelor’s degree in Computer Science while working part-time at a local web development company—a formative experience he still values deeply.
          </p>
        </section>

        <section class="subject">
          <h3>Introduction</h3>
          <p>
            Gaya Kessler is a freelance web developer based in Deurne—a small town in the south of the Netherlands, near Eindhoven—who’s been professionally coding since 2006. (That’s about half his life! )
          </p>

          <p>
            From a young age, Gaya loved creating with technology—whether building video games, drawing, composing music, or exploring programming. During high school, a glimpse into computer science convinced him: this could actually become a career he’d get paid for.
          </p>

          <p>
            Coding began in humble circumstances: from his parents’ attic, with a painfully slow internet connection, he taught himself how to build websites and backend systems from scratch. His passion led him to study for a bachelor’s degree in Computer Science while working part-time at a local web development company—a formative experience he still values deeply.
          </p>
        </section>

        <section class="subject">
          <h3>Introduction</h3>
          <p>
            Gaya Kessler is a freelance web developer based in Deurne—a small town in the south of the Netherlands, near Eindhoven—who’s been professionally coding since 2006. (That’s about half his life! )
          </p>

          <p>
            From a young age, Gaya loved creating with technology—whether building video games, drawing, composing music, or exploring programming. During high school, a glimpse into computer science convinced him: this could actually become a career he’d get paid for.
          </p>

          <p>
            Coding began in humble circumstances: from his parents’ attic, with a painfully slow internet connection, he taught himself how to build websites and backend systems from scratch. His passion led him to study for a bachelor’s degree in Computer Science while working part-time at a local web development company—a formative experience he still values deeply.
          </p>
        </section>
      </main>
    </section>
  </body>
</html>
