<!DOCTYPE html>
<html lang="en" class="bg-grain">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noodp,noydir">

    <meta name="generator" content="{{ eleventy.generator }}" />

    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="mask-icon" href="/assets/images/clevernode-box.svg" color="#151515">
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">
    <meta name="view-transition" content="same-origin">

    <title>Gaya Kessler — CleverNode</title>
    <meta property="og:title" content="Gaya Kessler — CleverNode">
    <meta name="description" content="Freelance healthcare specialist and software developer based in Deurne, the Netherlands. With more than 20 years of experience." />
    <meta property="og:description" content="Freelance healthcare specialist and software developer based in Deurne, the Netherlands. With more than 20 years of experience.">
    <meta property="og:url" content="https://theclevernode.com/">
    <meta property="og:site_name" content="Gaya Kessler - CleverNode">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/images/og_poster_default.jpg">

    <link rel="canonical" href="https://theclevernode.com/">
  </head>

  <body class="bg-grain">
    <section class="main-container">
      <header>
        <aside class="aside">
          <img class="avatar" src="/assets/images/gayakessler.webp" alt="Gaya Kessler" />

          <section class="contact">
            {% include "includes/contact.html" %}
          </section>
        </aside>
        <section class="headers" id="contact">
          <h1 class="header">Gaya Kessler</h1>
          <h2 class="subheader">CleverNode</h2>
          <section class="intro">
            Freelance <strong><em>healthcare specialist</em></strong> and <strong><em>software developer</em></strong> based in Deurne, the Netherlands near Eindhoven. With more than <em>20 years of experience</em>.
          </section>
        </section>

        <section class="contact mobile">
          {%  include "includes/contact.html" %}
        </section>
      </header>
      <main class="page-content">
        <section class="subject">
          <h3>What I Use</h3>
          <p>
            This page lists the tools I use to do my job. Based on examples by other people doing the same over at <a href="https://uses.tech/" target="_blank">uses.tech</a>.
          </p>
        </section>

        <section class="subject">
          <h3>Editor / IDE and Terminal</h3>
          <ul>
            <li>I use <a href="https://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a> as my main IDE</li>
            <li>My colour scheme of choice is <em>One Dark Vivid</em></li>
            <li>My code font is <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a></li>
            <li>As my terminal I use <em>Terminal.app</em> default to MacOS</li>
            <li>My shell is <a href="https://ohmyz.sh/">Oh My Zsh</a> with a variation of the "cloud" theme</li>
          </ul>
        </section>

        <section class="subject">
          <h3>Other computer stuff</h3>
          <ul>
            <li>My operating system is <em>MacOS</em>. If I have to use a PC I tend to go for a lightweight Linux distro</li>
            <li><a href="https://firefox.com">Firefox</a> is my browser of choice, both for development and regular browsing</li>
          </ul>
        </section>

        <section class="subject">
          <h3>On my desk</h3>
          <ul>
            <li><em>MacBook M1 Pro 14-inch 2021</em> is my current workstation</li>
            <li>I use a sit / stand desk and loving it!</li>
            <li>I use <strong>just</strong> one monitor: <em>LG 27UP850 - 4K IPS USB-C</em></li>
            <li>My keyboard is a <em>Keychron K8</em></li>
            <li><em>Logitech Master 3S</em> as a mouse. So comfortable</li>
            <li>I have two old school <em>Philips FB750 speakers</em> for my listening pleasure</li>
            <li>Which needs an amp, mine is a very small one: <a href="https://fosiaudio.com/collections/2-channel-amplifier/products/tda7498e-2-channel-stereo-audio-amplifier-receiver-mini-hi-fi-class-d-integrated-amp-home-speakers-160w-x-2-power-supply">Fosi Audio mini power amp</a></li>
          </ul>
        </section>

        <section class="subject">
          <h3>Music stuff</h3>
          <ul>
            <li><em>Novation Peak</em> as my main synth</li>
            <li><em>Shure SM7B</em> as my microphone</li>
            <li><em>Arturia Minilab 3</em> as my MIDI controller</li>
            <li><em>Logic Pro</em> as my DAW of choice</li>
            <li><em>Ampero Stomp II</em> as my multi-fx for guitar playing</li>
            <li><em>Focusrite Scarlett 4i4, 4th gen</em> as my audio interface</li>
            <li><em>Ibanez AZ standard HSS</em> & <em>Yamaha Revstar</em> guitars</li>
            <li>A pair of <em>Yamaha HS5</em> as my studio monitors</li>
          </ul>
        </section>
      </main>
    </section>
    <footer>
      CleverNode — Keep it simple
    </footer>
  </body>
</html>
