@import "reset.css";

:root {
    --text: #151414;
    --bg: #DDD2CF;
    --border-light: #a69691;
    --bg-light: #4A4645;
    --primary-light: #ec5135;
    --primary: #C03319;
    --primary-dark: #8f210c;

    --spacing: 4px;
    --s1: var(--spacing);
    --s2: calc(var(--spacing) * 2);
    --s4: calc(var(--spacing) * 4);
    --s6: calc(var(--spacing) * 6);
    --s8: calc(var(--spacing) * 8);
    --s12: calc(var(--spacing) * 12);
    --s14: calc(var(--spacing) * 14);
    --s16: calc(var(--spacing) * 16);
    --s70: calc(var(--spacing) * 70);
    --s78: calc(var(--spacing) * 78);
}

html, body {
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text);
    font-size: 24px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg);
}

::selection {
    background-color: rgba(192, 51, 25, 0.4);
}

.bg-grain {
    background: var(--bg);
    background: url('/assets/images/grain.jpg');
    background-position: 50% 0;
}

a {
    color: var(--primary);
    transition: color 0.2s ease;

    &:hover {
        color: var(--text);
    }

    &[target] {
        &:after {
            color: inherit;
            content: "";
            width: 0.6em;
            height: 0.6em;
            margin-left: 0.2em;
            margin-right: 0.1em;
            background-image: url("/assets/images/external.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }
}

.contact-btn {
    color: var(--primary);
    background: transparent;
    border: 2px solid var(--primary);
    text-decoration: none;
    padding: var(--s2) var(--s4);
    border-radius: var(--s2);
    display: inline-block;
    margin: 2em 0;
    font-weight: 600;
    transition: color ease 0.2s, border-color ease 0.2s;

    &:hover {
        color: var(--text);
        border-color: var(--text);
        text-decoration: underline;
    }
}

.main-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: var(--s4);

    header {
        justify-content: flex-start;

        .intro {
            font-size: 1.3em;
            line-height: 1.3em;
            margin: var(--s8) 0;
        }

        .headers {
            margin-left: -4px;
        }
    }
}

.contact {
    font-weight: 500;
    font-size: 0.7em;
    line-height: 1.3em;
    margin: 0 0 var(--s4) 0;
    display: none;

    &.mobile {
        display: inline-block;
    }
}

.links {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: space-between;
}

.aside {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-weight: bold;
    font-size: 4em;
    width: min-content;
}

.subheader {
    font-weight: normal;
    font-size: 2.8em;
    opacity: 0.666;
}

.language {
    display: flex;

    li {
        list-style: none;
        padding-right: var(--s2);

        &.active {
            font-weight: 600;
        }

        a {
            color: var(--text);
            transition: color 0.2s ease;
            margin: 0;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.page-nav {
    border-bottom: 2px solid var(--text);
    margin-bottom: -2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    padding: var(--s4) 0;
    font-size: 0.7em;

    .quick-links {
        display: flex;
    }

    span, a {
        margin-right: var(--s2);
    }

    a {
        text-decoration: none;
        display: block;
    }
}

.avatar {
    width: var(--s70);
    height: var(--s70);
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 var(--s4) rgba(0, 0, 0, 0.2);
    border: 1px solid var(--bg);
    display: block;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.page-content {
    line-height: 1.4em;

    .subject {
        border-top: 2px solid var(--bg-light);
        padding-top: var(--s8);

        h3 {
            font-style: italic;
            margin-bottom: 1em;
        }

        h4 {
            font-weight: bold;
            font-style: italic;
        }
    }


    p {
        margin: 0 0 var(--s8) 0;
    }

    picture {
        display: block;
        max-width: 100%;
        margin: var(--s8) 0;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    ul {
        margin-bottom: var(--s8);
    }

    ul li {
        list-style: disc;
        margin: 0 0 var(--s2) 20px;
    }
}

footer {
    border-top: 1px solid var(--border-light);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 60px);
    padding: var(--s8) var(--s4);
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    font-weight: 500;
}

@media screen and (min-width: 880px) {
    .contact.mobile {
        display: none;
    }

    .main-container {
        padding: var(--s8);

        header {
            display: flex;

            .intro {
                font-size: 1.4em;
                line-height: 1.4em;
                width: 70%;
                margin: var(--s16) 0 var(--s12);
            }
        }
    }

    .aside {
        width: var(--s70);
        margin-right: var(--s16);
        align-items: flex-start;

        .contact {
            margin: var(--s8) 0 1em 0;
            display: block;
        }
    }

    .language li {
        padding-right: 0;
        padding-left: var(--s2);
    }

    .header {
        font-size: 5em;
    }

    .subheader {
        font-size: 4em;
    }

    .page-nav {
        flex-direction: row;
    }

    .page-content {
        .subject {
            padding-left: var(--s78);
            scroll-margin-top: var(--s12);

            h3 {
                position: sticky;
                margin-left: calc(var(--s78) * -1);
                top: var(--s8);
                height: 0;
                margin-bottom: 0;
            }
        }
    }
}
