@import "reset.css";

:root {
    --text: #151414;
    --bg: #DDD2CF;
    --bg-light: #4A4645;
    --primary: #C03319;
    --primary-dark: #8f210c;

    --spacing: 4px;
    --s2: calc(var(--spacing) * 2);
    --s4: calc(var(--spacing) * 4);
    --s6: calc(var(--spacing) * 6);
    --s8: calc(var(--spacing) * 8);
    --s12: calc(var(--spacing) * 12);
    --s14: calc(var(--spacing) * 14);
    --s16: calc(var(--spacing) * 16);
    --s70: calc(var(--spacing) * 70);
    --s78: calc(var(--spacing) * 78);
}

html, body {
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text);
    font-size: 24px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: var(--bg);
}

.bg-grain {
    background: var(--bg);
    background: url('../images/grain.jpg');
    background-position: 50% 0;
}

a {
    color: var(--primary);
    transition: color 0.2s ease;

    &:hover {
        color: var(--text);
    }

    &[target] {
        &:after {
            color: inherit;
            content: "";
            width: 0.6em;
            height: 0.6em;
            margin-left: 0.2em;
            margin-right: 0.1em;
            background-image: url("../images/external.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    }
}

.main-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: var(--s8);

    header {
        display: flex;
        justify-content: flex-start;

        .contact {
            font-weight: 500;
            margin: var(--s8) 0 1em 0;
        }

        .intro {
            font-size: 1.4em;
            line-height: 1.4em;
            width: 70%;
            margin: var(--s16) 0 var(--s12);
        }

        .headers {
            margin-left: -4px;
        }
    }
}

.language {
    display: flex;

    li {
        list-style: none;
        padding-left: var(--s2);

        &.active {
            font-weight: 600;
        }

        a {
            color: var(--text);
            transition: color 0.2s ease;
            margin: 0;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.links {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-nav {
    position: sticky;
    border-bottom: 2px solid var(--text);
    top: 0;
    margin-bottom: -2px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: var(--s4) 0;
    font-size: 0.7em;

    .quick-links {
        display: flex;
    }

    span, a {
        margin-right: var(--s2);
    }

    a {
        text-decoration: none;
        display: block;
    }
}

.aside {
    width: var(--s70);
    margin-right: var(--s16);
    font-size: 0.7em;
    line-height: 1.3em;
}

.avatar {
    width: var(--s70);
    height: var(--s70);
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 var(--s4) rgba(0, 0, 0, 0.2);
    border: 1px solid var(--bg);
}

.header {
    font-weight: bold;
    font-size: 5em;
    width: min-content;
}

.subheader {
    font-weight: normal;
    font-size: 4em;
    opacity: 0.666;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.page-content {
    line-height: 1.4em;

    .subject {
        border-top: 2px solid var(--bg-light);
        padding-left: var(--s78);
        padding-top: var(--s8);
        scroll-margin-top: var(--s12);

        h3 {
            position: sticky;
            margin-left: calc(var(--s78) * -1);
            top: calc(50.8px + var(--s8));
            height: 0;
            font-style: italic;
        }
    }


    p {
        margin: 0 0 var(--s8) 0;
    }
}
